@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');


/*--------------------------------------------style for all pages*/
body {
    background-color: #CCD3E2; 
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.section-header-black {
    color: #000;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0px 40px 0px;
}

/*--------------------------------------------Navbar*/
.logo {
    margin-left: 30px;
}

.navbar {   
    background-color: rgba(0, 0, 0, 0.7);
    border: 0;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-nav a {
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-weight: bold;  
    font-size: 25px;
    color: #fff;
}

.dropdown-menu {
    background-color: #000;
    border: 0;
}

.dropdown-menu a {    
    color: rgba(255,255,255,.5); 
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;    
    background-color: rgba(0, 0, 0, 0.582);
}

.navbar-toggler {
    background-color: transparent;  
    border: 0; 
}

/*--hover over a inline element to show a <div> element--*/
.flag-icon {    
    padding-right: 2.2em;    
    display: flex;    
    justify-content: center;
    object-fit: cover;
}

.flag-icon div {
    background-color: #000;
    padding: 0px 3px;
    margin: 0;
    display: none;    
}

.flag-icon a:hover + div {
    display: block;
    position: absolute;             
    z-index: 2;
}

.text {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 12px; 
    font-weight: bold;   
    text-transform: uppercase;
    text-align: center;
}

/*---------------------------------------------------------------LANDING PAGE*/
/*--------------------------------------------Hero*/
#hero-index {    
    background: url('../images/hero/hero-index.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

#hero-portrait-index {    
    background: url('../images/hero/hero-index-portrait.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;    
}

/*--------------------------------------------About*/
.section-about {
    margin: 30px 10px;
}

.lwt {
    margin: 0px 20px 30px 20px;
}

.media img {
    margin: 0 auto;  
}

.about {
    padding: 0px 5px;
    margin-left: 0;
}

.about-header {
    color: #000;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

.about-sub {    
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
}

hr {
    margin: 0;    
    border: 0;    
}

.block-divider {
    width: 100px;
    height: 2px;
    text-align: center;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.082);
}

.about-text h5 {  
    text-align: center;
    font-weight: bold;  
    padding-bottom: 0px;
}

/*--------------------------------------------Blog Overview*/
.section-blog-overview {   
    background-color: white; 
    padding: 30px;
    margin-bottom: 60px; 
}

.card-shadow-box {  
    box-shadow: 1px 1px 7px 2px grey;
    border: none;
    background: black;
}

.card-img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.4);
}

.text-white a {
    text-decoration: none;
    color: white;   
}

.blog-card {
    margin-bottom: 30px;
}

/*------------------------------------------------------------------BLOG PAGE*/
/*--------------------------------------------Hero*/
.hero-h1, .hero-h1-black {
    color: transparent;
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
}

.hero-h1:hover{
    color:#fff;
}

.hero-h1-black:hover{
    color:#000;
}

/*------------------------------Australia*/
#hero-australia {    
    background: url('../images/hero/hero-australia.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

#hero-australia-small {    
    background: url('../images/hero/hero-australia-small.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;  
}

/*------------------------------Iceland*/
#hero-iceland {    
    background: url('../images/hero/hero-iceland.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

#hero-iceland-small {    
    background: url('../images/hero/hero-iceland-small.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}

/*------------------------------Sweden*/
#hero-sweden {    
    background: url('../images/hero/hero-sweden.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

#hero-sweden-small {    
    background: url('../images/hero/hero-sweden-small.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;  
}

/*------------------------------Switzerland*/
#hero-switzerland {    
    background: url('../images/hero/hero-switzerland.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

#hero-switzerland-small {    
    background: url('../images/hero/hero-switzerland-small.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}

/*--------------------------------------------About*/
.section-about-blog {
    margin: 30px 20px 0px 20px;
}

/*-----------------------------------------Blog Posts*/
.card-deck .card {
    margin: 40px 20px 30px 20px;
}
.card-body {
    background-color: #fff;
}

.card .card-body {
    border: none;
}

.card-body .card-title {
    margin-top: 10px;
    text-align: center;    
}

.card-text {
    margin: 0;
}

.read-more .card-body {
    padding: 0;
    margin: 0;
}

.read-more-btn p {
    text-align: center;
    padding: 0;
    margin: 10px 0px 0px 0px;    
}

.btn-read-me {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    background-color:#fff; 
    border-radius: 10px;
    border-color: transparent;
    margin-top: 5px;   
    align-items: center;
    padding: 5px;
}

.btn-read-me:hover {   
    background-color: rgb(163, 166, 172);
    border-color: rgb(163, 166, 172);
}

/*----------------------------------------------------------------------CONTACT PAGE*/
/*--------------------------------------------Hero*/
#hero-contact {    
    background: url('../images/hero/hero-contact.png') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}

#hero-contact-portrait {    
    background: url('../images/hero/hero-contact-portrait.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}

/*--------------------------------------------Contact Form*/
.section-header-contact {
    color: #000;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
}

.contact-form {    
    margin: 0 auto;
    max-width: 80%;
}

.form-control {
    margin: 2px;
}

.btn-contact {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(163, 166, 172);
    border-color: rgb(163, 166, 172);
    margin-top: 20px;
    margin-bottom: 20px;  
    align-items: center;
}

.btn-contact:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

/*-----------------------------------------------------------Spotify*/
/*credit: code for Perfect Full Page Background Image by Chris Coyier https://css-tricks.com/perfect-full-page-background-image/ edited a bit to fit the projects need*/
#road-trip-bg {  
    height: 100vh;  
    background: url('../images/spotify/road-trip-bg.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

.section-spotify {
    padding-top: 65px;
    margin-top: 50px;
}

.road-container {
    margin-top: 60px;
}

.road-bg {  
    background-color: transparent;  
}

.road-div {  
    text-align: center;
    color: #000;
    background-color: rgba(250, 246, 246, 0.301);
    padding: 0px 15px;  
}

.road-title {
    color: #000;  
    margin: 0 auto;
    padding-top: 10px;    
}

.road-icon { 
    padding-top: 10px;  
    font-size: 70px;  
    color: #000;  
}

.bg-spotify {  
    background-color: #000; 
}

.img-thumbnail {  
    padding: .25rem;
    background-color: transparent;
    border: transparent;
    border-radius: .25rem;
    max-width: 50%;
    height: auto;   
}

.spotify-icon {  
    text-align: center;
    color: #1ED760;
    font-size: 30px; 
}

.spotify-div {  
    text-align: center;
    color: white;
    padding: 10px 0px 10px 0px;
}

.btn-spotify {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #1ED760;
    border-color: #1ED760;
}

.btn-spotify:hover {
    color: #fff;
    background-color: rgb(4, 114, 42);
    border-color: rgb(4, 114, 42);
}

/*--------------------------------------------------------------------------Footer*/
footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    min-height: 150px;
    margin: 0;
    padding: 20px 0px;  
}

.social-icons {
    text-align: center;
}

.social-links li a i {
    width: 50px;
    height: 50px;    
    padding: 0px 10px 0px 10px;
    margin-top: 15px;  
    font-size: 35px;  
    color: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}

.social-links li a i:hover {
    color: #000;  
}

.social-links .list-inline-item{
    margin: 0;    
}

.paragraph-inline {      
    list-style: none;
    padding-left: 20px;      
}

/*--------------------------------------------------------------------------404-Error*/
.section-error {
    margin-top: 40px;
    margin-bottom: 100px;
}

.section-error .jumbotron {
    margin: 0;
    padding: 0;
}

.error-container {
    background-color: transparent;    
}

.error {
    margin-top: 60px;    
}


/*credit: code for Responsive Polaroid Images / Cards imported from w3schools.com https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_card*/
div.img-error {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;        
}

.text-center h2 {
    font-size: 3.5rem;   
}

.text-center h4 {    
    padding: 20px 15px;
}


/*--------------------------------------@ media Querys*/
@media(min-width: 576px) {
  .overlay {    
        position: absolute;  
        width: 100%; 
        height: 100%;    
        z-index: 2; 
    }
}

@media(min-width: 576px) {
  .about-text {
        padding-left: 20px;
    }
}

@media(min-width: 1000px) {
  .about-text {
        padding: 0;
        margin: 0 auto;
        max-width: 85%;
    }
}

@media(max-width: 576px) {
  .section-contact {    
        margin-top: 30px;    
    }
}

@media(min-width: 900px) {
  .contact-form {    
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
  }
}

@media(min-width: 500px) {
  .bg-spotify {    
        min-height: 50px;
        margin: 0 auto;
        max-width: 75%;
        padding: 2rem 1rem;
    }
}

@media(max-width: 500px) {
  .bg-spotify {    
        min-height: 50px;
        margin: 0 auto;
        max-width: 95%;
        padding: 2rem 1rem;
    }
}

@media(max-width: 768px) {
  div.img-error {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;    
    }
}